.show_layout {
    display: block;
    z-index: 999;
}

/*theme color*/
#black {
    background-color: #283046;
}

#black h3 {
    color: #fff;
}

#black ul li a {
    color: #fff;
}

/*theme color*/

.head {
    position: fixed;
    width: 260px;
    z-index: 33;
    background: var(--light);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    height: 100vh;
    transition: all .3s;
}

.head h3 {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 0;
}

.small .head h3 {
    font-size: 13px;
    text-align: center;
}

.head img {
    max-width: 36px;
}

.small .head {
    text-align: center;
}

.navbar__nav {
    right: 0;
    position: fixed;
    z-index: 12;
    margin: 1.3rem 2rem 0;
    border-radius: 0.428rem;
    width: calc(100% - 4rem - 260px);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    padding: 0.8rem 1rem;
    background-color: var(--light);
    transition: all .3s;
}

.small-nav {
    right: 0;
    position: fixed;
    z-index: 12;
    margin: 1.3rem 2rem 0;
    border-radius: 0.428rem;
    transition: all .3s;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    padding: 0.8rem 1rem;
    background-color: var(--light);
    width: calc(100% - 4rem - 82px);
}

.head ul {
    list-style: none;
    padding: 0;
}

.head ul li {
    cursor: pointer;
}

.head ul li a:hover {
    color: unset;
}


.head ul li a {
    width: 95%;
    padding: 10px 15px 10px 20px;
    border-radius: 6px;
}

.head ul li a span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #625f6e;
    line-height: 1.45;
}

.dark .head ul li a span {
    color: #fff;
}

.activeListItem a {
    background: var(--primary);
    color: var(--light);
    line-height: 1.45;
    box-shadow: 0 0 10px 1px var(--primary);
}

.activeListItem a span {
    color: #fff !important;
    font-weight: 400;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        top: 100px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.small .head {
    width: 80px !important;
    transition: all .3s;
    z-index: 99;
}

.small__arrow {
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    color: #fff;
    border-radius: 100%;
    background-color: var(--primary);
    position: absolute;
    right: -13px;
    top: 23px;
    z-index: 9;
}

.small small {
    font-size: 16px;
}

.small ul li a:hover span {
    opacity: 1;
    margin-left: 0;
    visibility: visible;
    color: #fff;
}

.small ul li a span {
    position: fixed;
    left: 68px;
    background: var(--primary);
    color: #fff;
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 15px;
    opacity: 0;
    transition: all .2s;
    margin-left: -32px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 15%);
    visibility: hidden;
}

.dark .small ul li a span {
    background: var(--primary);
    color: #fff;
}

.small .head ul li a {
    /*width: 72%;*/
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
}

.activeListItem:hover {
    color: #fff;
}

.small .head ul li a i {
    margin-left: -3px;
}

.show_layout .small__arrow {
    display: none;
}

.header__other {
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    padding: 10px 15px 0 20px;
    margin-bottom: 5px;
    color: #a6a4b0;
    line-height: 1.5;
    letter-spacing: .01rem;
    cursor: auto;
}

.small .header__other {
    padding: 10px 14px 0 12px;
}

.dark .header__other {
    color: #676d7d;
}

/*//////navbar*/
.user-nav {
    flex-direction: column;
    margin-right: 10px;
}

.user-nav p {
    font-size: 14px;
    font-weight: bold;
    color: #6e6b7b;
}

.user-nav span {
    font-size: 12px;
}

.menu__sub .menu__dropdown {
    opacity: 0;
    transition: all .4s;
    margin-top: -32px;
}

.menu__sub:hover .menu__dropdown {
    opacity: 1;
    cursor: pointer;
    margin-top: 5px;
}

.menu__dropdown {
    margin-top: 14px;
    position: absolute;
    background: var(--light);
    right: -15px;
    list-style: none;
    padding: 0;
    border-radius: 0.358rem;
    box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
    width: 135px;
    text-align: left;
}

.menu__dropdown li {
    padding: 10px 10px;
    color: var(--primary);
    transition: all .4s;
    font-weight: 400;
    font-size: 1rem;
    overflow: hidden;
    border-radius: 0.358rem;
}


.moon {
    cursor: pointer;
    font-size: 18px;
}
